{% macro btn(name, url, type_on, type = "primary") %}
    {% if type_on == true %}
        <a href="{{url}}"  class="btn btn-{{ type }} w-100 mt-1">{{ name }}</a>
    {% elseif type_on == false %}
        <a href="{{url}}"  class="btn btn-link">{{ name }}</a>
    {% endif %}
{% endmacro %}